body{
    background-color: rgb(191, 245, 245);
}
body{font-family: Arial, Helvetica, sans-serif;}
.content{display: flex;justify-content: center;}
.contato{width: 100%; max-width: 500px;}
.from{display: flex;flex-direction: column;}
.fileld{padding: 10px; margin-bottom: 10px;border:10px solid rgb(191, 245, 245);border-radius: 10px;font-family: Arial, Helvetica, sans-serif;}
.textarea{height: 150px;}